*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

main>.row{
    margin: 3em 0;
}

.row>article{
    margin: 5em 0;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.vertical{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.code{
    width: 100%;
    background-color: rgb(240,240,240);
    color: #336857;
    border-radius: 5px;
    line-height: 1.3em;
    font-family: "Source Code Pro", monospace;
}

header.page-header{
    margin: 0 -5%;
    padding: 0;
    height: 10em;
    width: 110%;
    background: linear-gradient(70deg, #fccb90, #d57eeb);
    box-shadow: inset 0 -5px 15px rgba(20,20,20,0.1);
}

header.page-header>.headline{
    font-size: 3em;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    border-top: solid white thin;
    border-bottom: solid white thin;
    text-shadow: 0 0 25px rgba(20,20,20,0.3);
}